*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--font-family-base);
  background-color: var(--color-white);
  color: var(--color-gray-900);
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button, input, textarea, select {
  font-family: inherit;
}

button {
  cursor: pointer;
  border: none;
  background: transparent;
}

ul, ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}
