@use './styles/reset.scss';
@use './styles/variables.scss' as *;
@use './styles/animations.scss';
html, body, #root {
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  font-family: var(--font-family-base);
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-family-heading);
}

#root {
  background: linear-gradient(135deg, #f0f4f8 0%, #d9e2ec 100%);
  display: flex;
  flex-direction: column;
}
